// ============================== layout_開始 ==============================

body{
	background: #E2E9EB;
}


// ============================== layout_結束 ==============================

// ============================== Structure元素_開始 ==============================

.stru_float-left{
	float: left;
}
.stru_float-right{
	float: right;
}


// ============================== Structure元素_結束 ==============================