
$body_bg: #E2E9EB;
$aside_bg: #3C4350;







// ============================== layout_開始 ==============================
html,body{ height: 100%;}

body{
	background: $body_bg;
}
.wrapper{
    width: 100%;
    height: 100%;
}
aside{
	width: 260px;
	height: 100%;
	background: $aside_bg;
	nav{
		background: $aside_bg;
	}
}


// ============================== layout_結束 ==============================

// ============================== Structure元素_開始 ==============================

.stru_float-left{
	float: left;
}
.stru_float-right{
	float: right;
}


// ============================== Structure元素_結束 ==============================

.test{
float: right;
}