aside
  header
    .backend-logo
    nav
      ul.nav.nav-pills.nav-stacked
        li.nav-item
          a.nav-link(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Active
          ul.nav.nav-pills.nav-stacked#collapseOne.collapse(role='tabpanel', aria-labelledby='headingOne')
            li.nav-item
              a.nav-link.active(href='#') Active
            li.nav-item
              a.nav-link(href='#') Link
            li.nav-item
              a.nav-link(href='#') Link
            li.nav-item
              a.nav-link(href='#') Link
            li.nav-item
              a.nav-link(href='#') Link
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item
          a.nav-link(href='#') Link


