section.top-block
  ol.breadcrumb.stru_left
    li.breadcrumb-item
      a(href='#') 後台管理系統
    li.breadcrumb-item
      a(href='#') 子項目
    li.breadcrumb-item.active 目前位置
  nav.mod_top-nav.stru_right
    ul
      li
        a(href='#', target='_blank')
          i.fa.fa-home(aria-hidden='true')
          span 前往 肯園芳香購物網
      li.btn-group
        a(href='',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-user(aria-hidden='true')
          span admin
          i.fa.fa-caret-down(aria-hidden='true')
        .dropdown-menu.dropdown-menu-right
          a(href='')
            i.fa.fa-cog(aria-hidden='true')
            span 更改密碼
          a(href='')
            i.fa.fa-sign-out(aria-hidden='true')
            span 登出
      br.CLEAR
  br.CLEAR